body{
	font-family: 'Nunito',sans-serif;
}
main{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header{
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	height: 50px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	background-color: transparent;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.header__logo{
	width: 60%;
	height: 50px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: 20px;
}
.header--logo{
	padding-left: 20px;
	color:rgba(205, 205, 193,1);
	font-size: 3em;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.header--botao--label{
	width: 48px;
	height: 33px;
	border:0;
	padding: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
	background:none;
	border-bottom:4px solid rgba(205, 205, 193,1);
	-webkit-transition: border-bottom 0.5s ease;
	-o-transition: border-bottom 0.5s ease;
	transition: border-bottom 0.5s ease;
	margin:20px 0 auto 0;
}
.header--botao--label:before{
	content: "";
	width: 48px;
	display: block;
	border-bottom: 4px solid rgba(205, 205, 193,1);
	margin-top: 10px;
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.header--botao--label:after{
	content: "";
	display: block;
	width: 48px;
	border-bottom: 4px solid rgba(205, 205, 193,1);
	margin-bottom: 5px;
	margin-top: 5px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.header--botao{
	display: none;
}
.header--botao:checked ~ .header--botao--label{
	border-bottom: 4px solid transparent;
}
.header--botao:checked ~ .header--botao--label:before{
	border-bottom: 4px solid rgba(205, 205, 193,1);
	-webkit-transform: rotate(-405deg) translateX(-5px);
	    -ms-transform: rotate(-405deg) translateX(-5px);
	        transform: rotate(-405deg) translateX(-5px);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: -webkit-transform 0.5s ease-in-out;
	-o-transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.header--botao:checked ~ .header--botao--label:after{
	border-bottom: 4px solid rgba(205, 205, 193,1);
	-webkit-transform: rotate(405deg) translateX(-5px) translateY(-1px);
	    -ms-transform: rotate(405deg) translateX(-5px) translateY(-1px);
	        transform: rotate(405deg) translateX(-5px) translateY(-1px);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: -webkit-transform 0.5s ease-in-out;
	-o-transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.header__menu{
	width: 100%;
	max-height: 0;
	background-color: rgba(0,0,0,0.8);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	z-index: 1;
	overflow: hidden;
	margin-top: 20px;

}
.header--botao:checked ~ .header__menu{
	max-height: 300px;
}
.header__menu__container--item{
	text-align: center;
	padding:10px;
	font-size: 2em;
	-webkit-transition: border-bottom 0.3s ease-out;
	-o-transition: border-bottom 0.3s ease-out;
	transition: border-bottom 0.3s ease-out;
}
.header__menu__container--item:hover{
	border-bottom:3px solid blue;
	-webkit-transition: border-bottom 0.3s ease-out;
	-o-transition: border-bottom 0.3s ease-out;
	transition: border-bottom 0.3s ease-out;
}
.header__menu__container--item a{
	text-decoration: none;
	color:white;
	font-weight: bold;
	cursor: pointer;
}
/*
*
*
*
*/
body{
	-webkit-scroll-behavior: smooth;
	-moz-scroll-behavior: smooth;
	scroll-behavior: smooth;
}
.conteudo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 95%;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
}
.hero{
	width: 100%;
	height: 100vh;
	background-color: black;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-image: url("Assets/5.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: white;
}
.hero__container{
	height: 100vh;
	max-width: 100%;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
}
.hero__container h1{
	padding-top: 25vh;
	font-size: 1.2em;
	text-align: center;
}
.hero__container h2{
	padding-top: 10vh;
	font-size: 6em;
	text-align: center;
	padding-bottom:30px;
}
.hero--hire, .hero--cv,.experiencias__wrap--2 a{
	font-size: 1.1em;
	margin: 0 20px;
	border-radius: 50px;
	border:2px solid white;
	padding: 10px 20px;
	text-decoration: none;
	color:white;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.hero--hire:hover, .hero--cv:hover,.experiencias__wrap--2 a:hover{
	background-color: white;
	color:gray;
}

.conteudo__perfil{
	width: 100%;
	text-align: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-bottom: 40px;
}
.conteudo__perfil__sb-eu{
	margin: 40px 10px;
	padding-bottom: 20px;
}
.conteudo__perfil__sb-eu h2{
	padding-top: 20px;
	font-size: 2em;
	font-weight: bold;
}
.conteudo__perfil__sb-eu p{
	font-size: 1.1em;
	margin-top: 20px;
}
.experiencias{
	width: 90%;
	margin:0 auto;
}
.experiencias__wrap{
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}
.experiencias__wrap--1{
	background-color: rgba(0,0,0,0.5);
	color: white;
}
.experiencias__wrap--1 h1,.experiencias__wrap--2 h1{
	color:blue;
	padding-top: 20px;
	padding-bottom:10px;
	font-size: 2em;
	font-weight: bold;
}
.experiencias__wrap--1 h2,.experiencias__wrap--2 h2{
	font-weight: bold;
	color:black;
	font-size: 1.3em;
	padding-bottom:10px;
}
.experiencias__wrap--1 h3{
	font-weight: bold;
	color:black;
}
.experiencias__wrap--1 p{
	padding-top: 5px;
	padding-bottom: 20px;
}
.experiencias__wrap--2{
	background-color: rgba(0,0,0,0.3);
	color: white;
	padding-bottom: 40px;
}
.experiencias__wrap--2 p{
	padding-bottom: 40px;
}
.habilidades{
	width: 100%;
	background-image: url("Assets/2.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding: 20px 0;

}
.habilidades__linguagens{
	margin: 30px auto;
	width: 90%;
	background-color: rgba(245,245,220,0.6);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	border-radius: 10px;

}
.habilidades__linguagens h1{
	color: black;
	font-size: 2em;
	padding: 20px;
}
.habilidades__linguagens__item{
	width: 100%;
}
.habilidades__linguagens__item:last-child{
	padding-bottom: 20px;
}
.habilidades__linguagens__item--nome{
	color:black;
	font-size: 1.2em;
	padding-top: 10px;
	padding-left: 15px;

}
.barra{
	margin: 0 auto;
	width: 90%;
	height: 20px;
	background-color: gray;
	text-align: right;
	border-radius: 5px;
}
.barra--progresso p{
	color: white;
	padding-right: 10px;

}
.barra--progresso{
	height: 100%;
	background-color: blue;
	border-radius: 5px;
}
.barra--progresso:nth-child(2){
	background-color: green;
}
.barra--progresso-80{
	width: 80%;
}
.barra--progresso-90{
	width: 90%;
}
.barra--progresso-100{
	width: 100%;
}
.barra--progresso-40{
	width: 40%;
}
.barra--progresso-60{
	width: 60%;
}
.barra--progresso-70{
	width: 70%;
}
.conteudo__projetos{
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.conteudo__projetos h2{
	font-size: 2em;
	font-weight: bold;
	padding: 20px;
}
.conteudo__projetos__todos{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	width: 90%;
	margin: 0 auto;
}
.conteudo__projetos__todos li{
	height: 500px;
	width: 100%;
	padding: 20px 0;
}

.conteudo__social{
	width: 100%;
	background-color: gray;
}
.conteudo__social h2{
	font-size: 2em;
	text-align: center;
	padding: 10px 0;

}
.conteudo__social__links{
	margin: 0 auto;
	width: 100%;
	height: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: black;
    font-size: 4em;
}
.conteudo__social__links a{
	color:black;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.conteudo__social__links a:hover{
	font-size: 1.2em;
}
.conteudo__social__email{
	border: 2px solid white;
	border-radius: 20px;
    width: 90%;
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
}
.conteudo__social__email label {
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin:10px;
}
.conteudo__social__email__nome input{
	margin: 20px;
    height: 30px;
    width: 80%;
    border-radius: 10px;
}
.conteudo__social__email__texto textarea{
	width: 80%;
    border-radius: 10px;
    margin: 20px;
    height: 206px;
}
.conteudo__social__email__botao{
	border-radius: 50px;
    border: 2px solid gray;
    background-color: white;
    width: 20%;
    height: 50px;
    font-size: 1em;
    margin: 20px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    color:gray;
}
.conteudo__social__email__botao:hover{
	background-color: gray;
	color:white;
}
/*
*
*
*
*
*
*footer
*/

.footer{
	width: 100%;
	height: 100px;
	background-color: black;
	color: white;
	text-align: center;
}
.footer p{
	margin: auto;
	padding-top: 20px;
	font-size: 1.5em;
}
